@font-face {
    font-family: "CatullBQ Bold";
    src: url('../font/CatullBQ\ Bold.ttf');
}

@font-face {
    font-family: "CatullBQ Regular";
    src: url('../font/CatullBQ\ Regular.ttf');
}

@font-face {
    font-family: "CatullBQ Italic";
    src: url('../font/CatullBQ\ Italic.ttf');
}

#events {
    list-style-type: none;
    display: block;
    border: rgb(213, 191, 134, .5) 2px solid;
    box-shadow: 0px 0px 15px 4px #D5BF86;
    border-radius: 5px;
}

.newsamiens {
    text-align: center;
}

#titlenews {margin: 0%;
    padding: 0%;
    text-align: center;
}

hr{ background-color:#D5BF86;
margin: 10%;}
li{margin-left: 5%;}

#screen {
    display: block;
    
}
 #screen img{ max-width: 96%;
    border: rgb(213, 191, 134, .5) 2px solid;
    }  
/* navbar */

* {
    color: #D4D6B9;
    font-family: "CatullBQ Regular";
}

body {
    background-color: #121415;
    margin: 0;
    font-size: 18px;
}

}

header::after {
    content: '';
    display: table;
    clear: both;
}



#bgvid {
    max-width: 100%;
    z-index: -1;
}

main,
footer {
    color: #D4D6B9;
}

#buying {
    height: 575px;
}

#buying,
#features {
    background-color: #121415;
}

#buying,
#news,
#features {
    padding: 30px;
}


#platform {
    display: flex;
    justify-content: center;
}

select {
    background-color: transparent;
    cursor: pointer;
    font-family: "CatullBQ Regular";
    padding: 2px 35px 2px 5px;
}

#news {
    background-color: #250302;
    color: #D5BF86;
    height: 100%;




