@font-face {
    font-family: "CatullBQ Bold";
    src: url('../font/CatullBQ\ Bold.ttf');
}

@font-face {
    font-family: "CatullBQ Regular";
    src: url('../font/CatullBQ\ Regular.ttf');
}

@font-face {
    font-family: "CatullBQ Italic";
    src: url('../font/CatullBQ\ Italic.ttf');
}

<<<<<<< HEAD
* {
    color: #D4D6B9;
    font-family: "CatullBQ Regular";
}

<<<<<<< HEAD

/* Html, body, fontsize */

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121415;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1,
h2 {
    font-size: 2.3em;
}

h1,
h2,
h3 {
    columns: #D5BF86;
    text-align: center;
}

h2 {
    margin-top: 15px;
}

h3 {
    color: #D5BF86;
}

p {
    text-align: justify;
}


/* navbar */

nav {
    background: rgba(0, 0, 0, 0.705);
    height: 8%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav img {
    max-width: 32%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    color: #D4D6B9;
    font-size: 16px;
    opacity: 1.0;
    margin-top: 20px;
    text-decoration: none;
    text-shadow: 0 0 10px #D4D6B9, 0 0 20px #D4D6B9, 0 0 40px #D4D6B9;
    text-transform: uppercase;
}

nav a:hover {
    color: #F1F0CC;
}

nav,
nav a,
nav a::before {
    display: block;
}

nav a::before {
    content: '';
    height: 5px;
    width: 0%;
    background: #D5BF86;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


/* end navbar */
=======
#events {
    list-style-type: none;
    display: block;
    border: rgb(213, 191, 134, .5) 2px solid;
    box-shadow: 0px 0px 15px 4px #D5BF86;
    border-radius: 5px;
}

.newsamiens {
    text-align: center;
}

#titlenews {margin: 0%;
    padding: 0%;
    text-align: center;
}

hr{ background-color:#D5BF86;
margin: 10%;}
li{margin-left: 5%;}

#screen {
    display: block;
    
}
 #screen img{ max-width: 96%;
    border: rgb(213, 191, 134, .5) 2px solid;
    }  
/* navbar */

* {
    color: #D4D6B9;
    font-family: "CatullBQ Regular";
}

body {
    background-color: #121415;
    margin: 0;
    font-size: 18px;
}

}

header::after {
    content: '';
    display: table;
    clear: both;
}


>>>>>>> news

#bgvid {
    max-width: 100%;
    z-index: -1;
}

main,
footer {
    color: #D4D6B9;
}

#buying {
    height: 575px;
}

#buying,
#features {
    background-color: #121415;
}

#buying,
#news,
#features {
    padding: 30px;
}

<<<<<<< HEAD
=======

>>>>>>> news
#platform {
    display: flex;
    justify-content: center;
}

select {
    background-color: transparent;
    cursor: pointer;
    font-family: "CatullBQ Regular";
    padding: 2px 35px 2px 5px;
}

#news {
    background-color: #250302;
    color: #D5BF86;
<<<<<<< HEAD
    height: 600px;
}

article {
    max-width: 30%;
}

article img {
    max-width: 80%;
}

#info {
    height: 55%;
    padding: 10px;
    margin-left: 15%;
    width: 50%;
}

#info p {
    text-indent: 20px;
    text-align: justify;
}

.center {
    display: flex;
    justify-content: center;
}

#demo {
    display: block;
    margin: 0 auto;
    width: 60%;
}

#demo>img {
    border: rgb(213, 191, 134, .5) 2px solid;
}

#available {
    text-align: center;
}

#buy {
    margin-left: auto;
    width: 150px;
}

#buy p {
    text-align: center;
    text-transform: uppercase;
}

#buynow {
=======
button{
>>>>>>> title
    color: #D5BF86;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #D5BF86;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px #D4D6B9, 0 0 20px #D4D6B9, 0 0 40px #D4D6B9;
    margin-top: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 150px;
}
<<<<<<< HEAD

#buynow2 {
    margin-top: 20px;
}


/* Features */

.videoFeatureLoop {
    width: 100%;
    border: rgb(213, 191, 134, .5) 2px solid;
    box-shadow: 0px 0px 15px 4px #D5BF86;
}


/* Fin Block features*/


/* Footer */

footer {
    height: 300px;
    margin-top: auto;
    background-color: #000;
}

.socialMedias {
    font-size: 32px;
    letter-spacing: 30px;
    color: #f1f0cc;
    margin-left: 10%;
    padding-top: 20px;
}

.footerInfos {
    margin-left: 30%;
}

.logos {
    width: 40%;
    float: left;
    margin-top: 50px;
}

.trademarks {
    width: 40%;
    height: 30%;
    color: #f7ece1;
    float: left;
}

#newsScreen {
    float: left;
    width: 50%;
    height: 500px;
}

#screen {
    display: block;
    border: rgb(213, 191, 134, .5) 2px solid;
    margin: 73px auto;
}

#listContainer {
    float: left;
    width: 50%;
    height: 505px;
}

#newsList {
    list-style: none;
    display: block;
    height: 70%;
    width: 80%;
    border: rgb(213, 191, 134, .5) 2px solid;
    border-radius: 5px;
    margin: 70px auto;
    padding-inline-start: 0;
    box-shadow: 0px 0px 15px 4px #D5BF86;
}

#newsList>li {
    width: 95%;
    margin: 0 auto;
    font-size: 25px;
    padding: 9px 0;
    background-color: #250302;
    border-bottom: 1px solid rgb(255, 255, 255, .2);
}

#newsList>li:last-child {
    border-bottom: none
}

#newsList>li:hover {
    background-color: rgb(32, 32, 32);
    transition: .4s;
}

.newsDate {
    font-style: italic;
}

#newsList>p {
    margin: 5px auto;
}

.pNews {
    margin: 10px auto;
}

.newsDate {
    color: rgb(213, 191, 134, 0.6);
    padding-left: 40px;
    font-size: 20px;
}

.newsTitle {
    padding-left: 100px;
}

.newsItem {
    box-sizing: content-box;
    text-decoration: none;
}

#logoB {
    margin-left: 50px;
}

#CGU {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.textCGU {
    cursor: pointer;
}

.textCGU:hover {
    text-decoration: underline;
}


/* End block footer */


/* Media */

@media screen and (max-width: 960px) {
    nav ul {
        background-color: rgba(0, 0, 0, 0.884);
    }
    nav {
        height: 6%
    }
}
=======
>>>>>>> title
=======
    height: 100%;




>>>>>>> news
